/* Background soft elegan */
body {
  background-color: #F5F6F7;
  font-family: "Inter", sans-serif;
  color: #333;
}

.container {
  margin-top: 60px;
}

.rounded-soft {
  border-radius: 12px !important;
  object-fit: cover;
  border: 2px solid #d3dbef; 
}

h1.display-4 {
  font-weight: 700;
  margin-top: 15px;
}

p.lead {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

.navbar {
  background: #ffffff !important;
  padding: 12px 0;
}
