<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2> daftar contact</h2>
           <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Mobilephone</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
           <% contacts.forEach((contact, i )=> { i++ %> 
              <tr>
              <th scope="row"><%= i++ %></th>
              <td><%= contact.name %></td>
              <td><%= contact.mobile %></td>
              <td>
                <a href="" class="btn btn-success btn-sm">detail</a>
                <a href="" class="btn btn-warning btn-sm">edit</a>
                <a href="" class="btn btn-danger btn-sm">delete</a>
              </td>
            </tr>
            <% }) %>
           
          </tbody>
        </table>
    </div>
  </div>
</div>