<div class="container">
  <div class="row">
    <div class="col text-center"> <br>
      <img src="img/image.png" alt="arif" class="img-thumbnail" width="150" />
      <h1 class="display-4">Arif fajar</h1>
      <p class="lead"> "Just keep moving. Small steps still move you forward  and most people quit right before the breakthrough. Stay consistent, and your future self will thank you.” </p>
    </div>
  </div>
</div>